@import '../../variable.css';

.ask-form-container {
    margin: auto;
    width: 75%;
    height: 100%;
    border-radius: 0.3rem;
    padding: 1rem;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.374);
    background-color: rgb(190, 190, 190);
}

.create-thread-header {
    text-align: center;
}

.form-group {
    margin-bottom: 1.5rem;
}

#form-button {
    background-color: var(--primary-button-orange);
    border: none;
    box-shadow: 1px 1px 1px #00000060, inset 1px 1px 1px 0px rgba(255, 255, 255, 0.5);
}
#form-button:hover {
    box-shadow: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 1px 1px rgba(255, 255, 255, 0.5);
}
