.page-container {
    min-height: 100vh;
}

.ask-form-container {
    margin: auto;
    width: 75%;
    border-radius: 0.3rem;
    padding: 1rem;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.374);
    background-color: #3e4347;
    color: rgb(233, 235, 237);
}

.create-thread-header {
    text-align: center;
}

.form-group {
    margin-bottom: 1.5rem;
}

#ask-form-input {
    background-color: rgb(215, 217, 219);
}
