.home-container {
    padding: 1rem;
}

/*LOADING SPINNER*/
.loading-spinner {
    margin: auto;
    width: 50px;
    height: 50px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    animation: spin 0.5s linear infinite;
}

.loading-container {
    text-align: center;
}
  
/*Keyframes*/
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
.loading-message {
    display: none; /* Initially hide the loading message */
    font-size: 18px;
    margin-top: 10px;
}
  
.sorting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 5rem;
    margin: auto;
    margin-bottom: 0.5rem;
    background-color: #4d5a62;
    border-radius: 0.5rem;
    padding: 1rem;
}

.displayName {
    position: absolute;
    top: 4rem;
    left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    background-color: rgb(137, 180, 141);
}
  