:root {
    --primary-button-orange: #fc8127;
    --secondary-button-orange: #f86a03;
    --primary-text-light: #333333;
    --secondary-text-light: #666666;
  
    --primary-bg-dark: #333333;
    --primary-text-dark: #ffffff;
    --secondary-bg-dark: #222222;
    --secondary-text-dark: #cccccc;
}